<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://songbai1211.github.io/" target="_blank" rel="external nofollow">BaiGe</a>
      .
      Theme by <a href="http://iosnightroad.github.io/" target="_blank" rel="external nofollow">IOSNIGHTROAD</a>
    </div>
  </div>
</footer>
